body {
  font-family: 'Fira Sans', sans-serif;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
ul,
ol {
  list-style: none;
}
.section-heading {
  font-size: 41px;
  line-height: 50px;
  font-weight: 600;
  color: #222;
}
.be-static {
  position: static;
}
.vh-depended {
  height: 40vh;
  display: flex;
  align-items: center;
}
button {
  display: block;
  background-color: transparent;
  border: none;
}
.btn {
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 4px;
  color: #fff;
  background-color: #4737FF;
  text-transform: uppercase;
  border-radius: 0;
}
.btn:focus,
.btn:hover {
  background-color: #3928ff;
  color: #fff;
}
.header {
  height: 105vh;
}
.nav {
  padding-top: 59px;
  margin-bottom: 127px;
}
.offer__heading {
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  color: #151515;
  letter-spacing: -1px;
}
.offer__description {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: #222;
  opacity: 0.7;
  width: 70%;
  margin: 30px 0 56px;
}
.offer__btn {
  width: 189px;
  padding: 13px 0;
}
.hero {
  position: absolute;
  right: 14px;
  top: 142px;
  z-index: -10;
  background-image: url('/img/img-12.jpg');
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 80% 100%;
  width: 55%;
  height: 88vh;
}
.hero__video {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 20%;
  background-image: url('/img/img-13.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  width: 40%;
  height: 33%;
}
.hero__video::after {
  content: '';
  background-image: url('/img/play.svg');
  display: block;
  width: 65px;
  height: 65px;
}
.section-problems {
  padding-top: 137px;
}
.section-problems__img {
  display: block;
  background-image: url('/img/img-11.jpg');
  background-repeat: no-repeat;
  background-position: left center;
  width: 444px;
  height: 564px;
}
.section-problems__content {
  width: 92%;
}
.section-problems__descriptions {
  width: 75%;
  padding: 30px 0 61px;
  opacity: 0.7;
}
.section-problems__descriptions_first {
  margin-bottom: 20px;
}
.section-problems__user {
  background: url('/img/user.jpg') no-repeat left center;
  padding: 3px 0 3px 96px;
}
.section-problems__username {
  font-size: 22px;
  line-height: 32px;
  font-weight: 500;
  color: #222;
}
.section-problems__user_info {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: #222;
  opacity: 0.7;
}
.section-services {
  padding-top: 142px;
}
.section-services__label {
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 4px;
  color: #222;
  opacity: 0.7;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.section-services__list_left {
  margin-left: 37px;
}
.section-services__item {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: #222;
  opacity: 0.5;
}
.section-services__item:not(:last-child) {
  margin-bottom: 21px;
}
.owl-carousel {
  margin-top: 99px;
}
.owl-carousel .item,
.owl-item {
  width: 825px !important;
  position: relative;
}
.owl-theme .owl-nav,
.owl-theme .owl-dots {
  text-align: left !important;
}
.owl-theme .owl-nav [class*=owl-] {
  margin: 0;
}
.owl-nav {
  margin-top: 50px !important;
}
.owl-prev {
  margin-right: 25px !important;
}
.owl-carousel__play {
  display: block;
  background: url('/img/play.svg');
  width: 65px;
  height: 65px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -32px;
  margin-left: -32px;
  cursor: pointer;
}
